# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Config files
*.cfg

# Build files
cmd/xenia/xenia
cmd/xeniad/xeniad
cmd/askd/askd

# Local development Config files
config/gaba.cfg

# Generated Go files
cmd/corald/handlers/fixtures/*.go
