export XENIA_MONGO_HOST=52.23.154.37:27017
export XENIA_MONGO_USER=coral-user
export XENIA_MONGO_AUTHDB=coral
export XENIA_MONGO_DB=coral

export XENIA_LOGGING_LEVEL=1
export XENIA_HOST=:4000

# By default authentication is on.
# export XENIA_AUTH=true

# Use to apply extra key:value pairs to the header
# export XENIA_HEADERS=key:value,key:value

# DO NOT PUSH TO REPO
export XENIA_MONGO_PASS=
